version: "3.9"

networks:
  gateway:
    external:
      name: cf-gateway

services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${TOKEN}
    networks:
      gateway: