[Unit]
Description=Binarie service
After=network-online.target

[Service]
WorkingDirectory=/srv/app/APPDIRECTORIE
ExecStart=./FILENAME
User=root       # Create and use a non-root user
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target