[Unit]
Description=Java archive service
After=network-online.target

[Service]
WorkingDirectory=/srv/app/APPDIRECTORIE
ExecStart=/bin/java -Xms32m -Xmx512m -jar FILENAME.jar
User=root       # Create and use a non-root user
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target